[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
databases = "*"
fastapi = "*"
uvicorn = "*"
alembic = "*"

[dev-packages]
sqlacodegen = "*"
pymysql = "*"

[requires]
python_version = "3.10"
