[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
alembic = "*"
passlib = "*"
pydantic = {extras = ["email"], version = "*"}
bcrypt = "*"
psycopg2 = "*"
pyjwt = "*"

[dev-packages]
sqlacodegen = "*"
pymysql = "*"

[requires]
python_version = "3.10"
